<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="create-game-form">
  <fieldset class="form-group">
    <app-input-atom
      formControlName="name"
      title="Nombre de la partida"
      placeholder="Ingrese el nombre de la partida"
      autofocus>
    </app-input-atom>
    <div class="error-message" [ngClass]="{ 'hidden': !showErrors }">
      {{ errorMessage }}
    </div>
  </fieldset>

  <fieldset class="form-group">
    <app-button
      [type]="'submit'"
      [disabled]="isLoading">
      <span *ngIf="!isLoading">Crear Partida</span>
      <span *ngIf="isLoading" class="loading-text">
        <span class="spinner"></span>
        Creando...
      </span>
    </app-button>
  </fieldset>
</form>
